.weavie-misspelling {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--weavie-editorSpellCheck-foreground);
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}
